* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: papayawhip;
    /* border: 2px dotted red; */
    height: 800px;
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
    
}

.box-1 {
     border: 1px solid green;
}

.box-2 {
    border: 1px solid green;
}

.box-3 {
    border: 1px solid green;
}

.box-4 {
    border: 1px solid green;
}

.box-5 {
    border: 1px solid green;
}

.box-6 {
    border: 1px solid green;
} 

.box-7 {
    border: 1px solid green;
    
}

h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 10px 0;
}

figcaption {
    text-align: center;
    font-size: medium;
    color: blueviolet;
    
}
